<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .size{
            width: 200px;
            height: 200px;
        }

        .red{
            
            color: red;
        }

        .bgGreen{
            background-color: greenyellow
        }

        .bigger{
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <input type="text" v-model="classes"> -->


        <!-- <input type="checkbox" v-model='classes.red'>红色
        <input type="checkbox" v-model='classes.bgGreen'>绿背景
        <input type="checkbox" v-model='classes.size'>大小
        <input type="checkbox" v-model='classes.bigger'>字体大小 -->

        <!-- <div :class="'red bgGreen'">
            鸭王来了！
        </div> -->

        <!-- <div :class="{red: true, bgGreen: true}">
                鸭王来了！
        </div> -->

        <!-- <div :class="['red', 'bgGreen']">
                鸭王来了！
        </div> -->

        <!-- <div :class="['red', 'bgGreen', {size: true}]">
                鸭王来了！
        </div> -->
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                // classes: "red bgGreen size bigger",
                // classes: {
                //     red: false,
                //     bgGreen: false,
                //     bigger: false,
                //     size: false
                // },
                // classes: [
                //     "red", "bgGreen", "size", "bigger"
                // ],
                // classes: [
                //     "red", {bgGreen: true}
                // ]
            // }
        })
    </script>
</body>

</html>
